
/* debug */

/* [class*="col"] {
    min-height: 20px;
    border: 2px dashed orange;
}

[class*="col"] {
    min-height: 20px;
    border: 2px dashed green;
} */

ul li a{
    color: white;
    text-decoration: none;
}
ul li {
    list-style: none;
}

footer ul li {
    padding-bottom: 5px;
}

/* header  */

.logo{
    width: 80px;
}

/* jumbotron */

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.img-opacy{
    filter: opacity(50%);
}

.img-opacy:hover {
    filter: opacity(100%);
    border-bottom: 2px solid blue;
}

.outline{
    outline-offset: 0.2rem;
    outline-color: blue;
    outline-width: 3px;
    outline-style: solid;
}


.tot-altezza{
    height: 100%;
}

/* it takes two */

.other-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

/* ps plus */
.plus-bg{
 background-color: #bebcbb;
}

.logo-ps-plus-now{
    width: 60%;
}

/* ps now  */
.now-bg{
    background-color: #161c3b;
}

/* footer  */

.sony-logo{
    width: 25%;
}

.bg-sony-blue{
    background-color: #00439c;
}

/* button */

.outline-btr-grey:hover{
    outline-offset: 0.2rem;
    outline-color: black;
    outline-width: 3px;
    outline-style: solid;
}

.outline-btr-red:hover {
    outline-offset: -0.4rem;
    outline-color: #900603;
    outline-width: 3px;
    outline-style: solid;
}

.outline-btr-blue:hover {
    outline-offset: 0.2rem;
    outline-color: blue;
    outline-width: 3px;
    outline-style: solid;
}
.outline-btr-now:hover {
    outline-offset: -0.3rem;
    outline-color: blue;
    outline-width: 3px;
    outline-style: solid;
}

/* animazioni  */
.jumbo-anim:hover {
    transform: translate(0px, -10px);
}

.pointer{
    cursor: pointer;
}

